#This file lists all the Python libraries needed for the project.
#The 'waitress' library is a production-quality server for our Flask app.
flask
openai-whisper
srt
textblob
rake-nltk
sumy
waitress
google-generativeai # NEW: For the real AI color grading